VITE_API_BASE_URL=https://api.dachcourier.co.uk
VITE_USE_MOCK_API=true
VITE_APP_NAME="Dach Courier Services"
VITE_PUBLIC_SITE_URL=https://dachcourierservices.co.uk
VITE_SITE_NAME=Dach Courier Services
VITE_DEFAULT_LOCALE=en_GB
VITE_SUPPORT_EMAIL=
VITE_SUPPORT_PHONE=
VITE_BUSINESS_ADDRESS=
VITE_GOOGLE_SITE_VERIFICATION=
VITE_BING_SITE_VERIFICATION=
VITE_ALLOW_GPTBOT=false
